body, .jumbotron {
  background-color:#231240;
  color:white;
}

h1, p {
  color:white;
}


nav {
  border:4px solid pink;
}

.jumbotron {

}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(255, 0, 0, 0);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.fa-envelope {
  font-size:2rem;
  margin-left:20%;
}

ul {

}


.card {
background-color:rgba(255, 0, 0, 0);
border-color: rgba(255, 0, 0, 0.0);
margin-left:auto;
margin-right: auto;

}

img {
max-width:100%;
max-height:100%;


}

#div1 {

}

#div1:focus {

}

.container-for-image {
  padding:11%;
  background-color: white;
  margin-bottom:2rem;
  border:2px solid gray;
}


.container-for-prices {

}

.for-parse {
  border:1px solid white;
  white-space: nowrap;
  -webkit-animation-name:changeOpacity;
          animation-name:changeOpacity;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}


footer {
  position:fixed;
  bottom:0;
  width:100%;
  background-color:#231240;
  opacity:0.9;
}


@-webkit-keyframes changeOpacity {
  from {opacity: 0;}
  to {opacity: 1;}
}


@keyframes changeOpacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

